table {
	border: 1px solid #000;
	border-collapse: collapse;
    margin: 10px;
}

caption {
	border: 1px solid #000;
	border-bottom: 0;
    font-family: sans-serif;
    font-weight: 600;
}

th,
td {
	border: 1px solid #000;
    font-family: sans-serif;
}

.weekend {
    color: red;
}
