fieldset {
	border: 1px solid #000;
	border-radius: 5px;
	font-family: sans-serif;
	max-width: 250px;
}

h2 {
	margin: 10px 0px;
	font-size: 16px;
}

.input-user {
	display: block;
	border-radius: 5px;
	margin: 5px 0px;
	width: 200px;
	border: 1px solid black;
    padding: 5px 8px;
}

textarea {
	display: block;
	font-family: sans-serif;
	width: 200px;
	resize: vertical;
	max-height: 200px;
	border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 5px 8px;
}

.agreement {
        margin-bottom: 10px;
        cursor: pointer;
}


.button-send {
	display: block;
	border: white;
	border-radius: 5px;
	cursor: pointer;
	width: 80px;
	height: 25px;
    padding: auto;
}
