.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3cbd9;
	gap: 20px;
}

.phone a {
	display: inline-block;
	margin-top: 8px;
	font-weight: 500;
	font-size: 18px;
	color: #2c332f;
	transition: color 0.2s;
}

.phone a:hover {
	color: #3596ed;
}
