.hero {
	position: relative;
	padding-top: 80px;
}

.hero::after {
	content: "";
	position: absolute;
	bottom: 106px;
	width: 100%;
	height: 48px;
	z-index: -1;
	background: url("../img/decor-long-icon.svg") repeat;
}

.hero-container {
	display: flex;
	gap: 28px;
}

.hero-info h1 {
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 62px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	margin-bottom: 40px;
}

.hero-info h1 strong {
	color: #3596ed;
}

.button {
	display: inline-block;
	margin-top: 140px;
	padding: 19px 32px;
	width: 270px;
	height: 57px;
	background: #3596ed;
	font-weight: 500;
	font-size: 15px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	transition: opacity 0.2s;
}

.hero-images {
	display: flex;
	position: relative;
}

.button:hover {
	opacity: 0.85;
}

.hero-choose {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid #535755;
	padding: 22px;
	max-width: 161px;
	background: rgba(255, 255, 255, 0.9);
}

.news-container {
	display: flex;
	gap: 28px;
}

.news-article {
	display: flex;
	flex-direction: column;
	max-width: 284px;
	width: 100%;
	border: 1px solid #d3cbd9;
}

.news-article header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.news-article footer {
	margin-top: auto;
}

.news-image {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	overflow: hidden;
}

.news-info {
	padding: 20px 20px 0 20px;
}

.news-info time {
	display: inline-block;
	margin-bottom: 8px;
}

.news-info p {
overflow-wrap: break-word;
}

.news-link {
	margin-top: 12px;
	padding: 0 20px 20px 20px;
	display: flex;
	align-items: center;
	gap: 8px;
	position: relative;
	color: #3596ed;
}

.news-link::after {
	content: "";
	display: inline-block;
	position: relative;
	width: 22px;
	height: 9px;
	background: url("../img/arrow-left-img.svg");
	transition: transform 0.2s;
}

.news-link:hover::after {
	transform: translateX(5px);
}
