.article {
	padding-top: 80px;
	padding-bottom: 120px;
}

.article-title {
	max-width: 596px;
	margin-bottom: 40px;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}

.article-title-large {
	font-size: 48px;
}

.article-text {
	margin-bottom: 20px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}

.article-mb {
	margin-bottom: 80px;
}

.article-image {
	width: 100%;
}

.article-decor-wrapper {
	position: relative;
}

.article-decor-wrapper::before {
	content: "";
	position: absolute;
	z-index: -1;
	background: url("../img/article-decor.svg") no-repeat;
	width: 528px;
	height: 48px;
	top: 100px;
	left: -350px;
}

.article-title-medium {
	font-size: 36px;
}

.article-text-short {
	max-width: 759px;
}

.article-list {
	padding-left: 20px;
	margin-bottom: 80px;
}

.article-item {
	margin-bottom: 12px;
}

.article-item::marker {
	color: #3596ed;
	font-size: 22px;
}

.article-decor-wrapper-2 {
	position: relative;
}

.article-decor-wrapper-2::before {
	position: absolute;
	content: "";
	z-index: -1;
	background: url("../img/article-decor.svg") no-repeat;
	width: 528px;
	height: 48px;
	bottom: 100px;
	right: -350px;
}

.article-video {
	display: flex;
	position: relative;
	width: 100%;
}

.article-video-button {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #3596ed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border: none;
	cursor: pointer;
}

.article-video-triangle {
	position: relative;
	top: 2px;
	left: 2px;
}

.article-mb-2 {
	margin: 40px 0 0 0;
}
